@media (orientation: landscape) and (min-width: 630px)
	.main-menu
		font-size: 12px

@media (orientation: landscape) and (min-width: 730px)
	.main-menu
		font-size: 14px

@media (orientation: landscape) and (min-width: 1000px)
	.main-menu
		font-size: 18px

	.main-menu__main
		a
			&:nth-of-type(3)
				flex-basis: 80%
				margin: 10px 0

		.main-menu__input
			width: 80%
			margin: 10px 0

@media (orientation: landscape) and (min-width: 1300px)
	.main-menu
		font-size: 24px