@import ../sass/_variables
@import ../sass/_mixins

.board
    +boardContainer(45vh, 100%, row-reverse)

//Board
.board__playerBoard
    +board($boardSize)
//

//Squares
.board__square
    +square($squareSize)
    opacity: 0.3
.board__square--blue
    background-color: #00A3FF
.board__square--yellow
    background-color: #FAFF00
.board__square--red
    background-color: #FF0000
.board__square--black
    background-color: #2f7c2c
.board__square--white
    background-color: #ffffff
.board__square--active
    opacity: 1
//

//Colected squares
.board__collectedSquaresContainer
    +colSqrCont($boardSize)
    display: flex
    flex-direction: column
    align-items: center
.board__collectedSquaresRow
    display: flex
    flex-direction: row-reverse
    align-items: center
    width: 100%
    height: 20%

.board__collectedSquares
    +circle(17px, 50%)
    margin-left: 3%
    background-color: #353535
.board__collectedSquares--blue
    background-color: #00A3FF
.board__collectedSquares--yellow
    background-color: #FAFF00
.board__collectedSquares--red
    background-color: #FF0000
.board__collectedSquares--black
    background-color: #2f7c2c
.board__collectedSquares--white
    background-color: #ffffff
//

//Negative points
.board__negativePointsContainer
    +negPoints(40px)
    display: flex
    justify-content: space-around
    align-items: center
    letter-spacing: 2px
    font-size: 18px
.board__negativePoints
    text-align: center
//
@import ../sass/_media