@media (orientation: landscape) and (min-width: 660px)
	.lobby
		font-size: 14px

@media (orientation: landscape) and (min-width: 1024px)
	.lobby
		font-size: 18px
	.lobby__button
		height: 10vh
		width: 18vw

@media (orientation: landscape) and (min-width: 1300px)
	.lobby
		font-size: 22px
	.lobby__title
		margin: 8vh auto 5vh

@media (orientation: landscape) and (min-width: 1400px)
	.lobby
		font-size: 24px
	.lobby__button
		width: 15vw